html,
body {
  background-color: #05244c;
  text-align: center;
  font-family: "Indie Flower", cursive;
}

.container {
  text-align: center;
  /*centering container vertically and horizontally*/
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 15px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.row {
  border: 2px solid black;
  margin: 2px;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
}

img {
  border-radius: 10px;
}

.col-lg-7 {
  text-align: center;
}

.col-lg-5 img {
  width: 400px;
  height: auto;
  margin: 10px 0;
}

#table {
  width: 40%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: center;
  display: none;
  transform: rotate(90deg);
}

td {
  padding: 10px;
  text-align: center;
}

.btn {
  width: 75%;
  height: 100px;
  font-size: 40px;
  margin: 15px;
  border: 0;
  border-radius: 10px;
  background-color: #248e1c;
  color: white;
  font-weight: bold;
  border: 2px solid black;
}

.btn:hover {
  opacity: 0.6;
}

#instructions {
  font-size: 65px;
  color: white;
  margin-top: 4%;
}

.congrats {
  width: 75%;
  font-size: 40px;
  margin: 15px;
  border: 0;
  border-radius: 10px;
  border: 2px solid black;
  height: 150px;
  color: white;
  letter-spacing: 2px;
  background-color: #248e1c;
}

@media only screen and (max-width: 500px) {
  img {
    width: 20px;
    height: 10px;
  }
  .col-lg-5 img {
    display: none;
  }
  .congrats{
    font-size: 25px;
  }
}

@media only screen and (max-width: 768px) {
  img {
    width: 25px;
    height: 30px;
  }
  .col-lg-5 img {
    height: 200px;
    margin: 0;
    padding: 0;
  }
  #instructions {
    font-size: 40px;
  }
  #table {
    margin-top: 0;
    padding-top: 0;
  }
  .congrats{
    font-size: 30px;
  }
}

@media only screen and (max-width: 992px) {
  img {
    width: 60px;
    height: auto;
  }
  .col-lg-5 img {
    height: 200px;
  }
  #instructions {
    font-size: 40px;
  }
  #table {
    margin-top: 0;
    padding-top: 0;
  }
}

@media only screen and (max-width: 1200px) {
  img {
    width: 60px;
    height: auto;
  }
}

@media only screen and (min-width: 1200px) {
  img {
    width: 80px;
    height: auto;
  }
}

@media only screen and (orientation: landscape) {
  body {
    transform: rotate(90 deg);
  }
}
