/* Memory Card Game 
 * Date: 13/08/2019
 * Author: kjt299
*/

html,
body {
  background-color:#05244c;
  text-align: center;
  font-family: "Indie Flower", cursive;
}

.container, #congrats {
  text-align: center;
  /*centering container vertically and horizontally*/
  position:absolute;
  top:50%;
  left:50%;
  padding:15px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.row {
  border: 2px solid black;
  margin: 2px;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
}

img {
  border-radius:10px;
}

.col-lg-7 {
  text-align: center;
}

.col-lg-5 img{
  width:400px;
  height:auto; 
  margin: 10px 0;
}

#table {
  width: 40%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: center;
  display: none;
  transform: rotate(90deg);
}

td {
  padding: 10px;
  text-align: center;
}

#start button {
  width: 75%;
  height: 100px;
  font-size: 40px;
  margin: 15px;
  border: 0;
  border-radius: 10px;
  background-color: #248e1c;
  color: white;
  font-weight: bold;
  border:2px solid black;
}

#start button:hover {
  opacity: 0.6;
}

#instructions{
  font-size:65px;
  color:white;
  margin-top:3%;
}

@media only screen and (max-width: 768px){
  img {
    width: 60px;
    height: auto;
  }
  .col-lg-5 img {
   height:200px;
   margin:0;
   padding:0;
  }
  #instructions {
   font-size:40px;
  }
  #table{
    margin-top:0;
    padding-top:0;
  }
}

@media only screen and (max-width: 992px) {
  img {
    width: 60px;
    height: auto;
  }
  .col-lg-5 img {
    height:200px;
   }
   #instructions{
     font-size: 40px;
   }
   #table{
    margin-top:0;
    padding-top:0;
  }
}

@media only screen and (max-width: 1200px) {
  img {
    width: 60px;
    height: auto;
  }
}

@media only screen and (min-width: 1200px) {
  img {
    width: 80px;
    height: auto;
  }
  #congrats{
    margin-left:20%;
  }
}

@media only screen and (orientation: landscape) {
  body {
    transform: rotate(90 deg);
  }
}

#congrats{
  background-color: #4362fa;
  border: 2px solid black;
  border-radius: 50%;
  width:300px;
  height:300px;
  display:none;
}

#congrats img{
  width: 200px;
  height:auto;
  margin-top:25px;
  margin-bottom:15px;
}

#congrats p{
  font-size: 30px;
  color:white;
  font-weight:700;
  letter-spacing: 2px;
}